{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            Pesquisas atuais
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Lista de todas as pesquisas!
            </h5>
            <p class="card-text">
                Selecione uma pesquisa
            </p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Info</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for survey in surveys %}
                    <tr class="pointer">
                        <td>{{ loop.index }}</td>
                        <td>{{ survey.name }}</td>
                        <td>
                            <button onclick="window.location.href='admin/edit-questions/{{survey.survey_id}}'" type="button" class="btn btn-info">
                                Editar questões
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="admin/add-survey-page.html" class="btn btn-primary">Adicionar pesquisa</a>
        </div>
    </div>
</div>
{% endblock %}